<div class="header-wrapper">
  <div class="logo-link">
    <a href="/"> Generic Image Getter </a>
  </div>


    <div class="images-link">
      <a href="/saved">images</a>
    </div>
    <div class="tags-link">
      <a href="/tags">tags</a>
    </div>

</div>
