<div> Most Popular Tags </div>
<form id="popularform" action="/search/premade?_method=GET" method="POST" >
  <select name="populartags" form="popularform">
    <% let count = 0 %>
<% for (key in Popular) { %>
  <option class="tag" value="<%= key %>"> <%= key %> </option>

  <% } %>
  </select>
  <input type="submit" value="Search" />
</form>
