<html>
  <% include partials/head.ejs %>
  <% include partials/header.ejs %>
  <body>
<div class="height-fix">
<div class="index-container">
  <div class="index-text">
    Search using a tag
  </div>

  <div class="big-search">
    <form action="/search?_method=GET" method="POST">
      <input type="text" style='font-size: 25px; width: 300px;'  name="search" value="lelouch_lamperouge"/>
      <input class="search-image-1" type="image" src="images/search.png" alt="Search" />
    </form>
  </div>

  <br/>
  <br/>

  <div class="index-text">
    or choose a popular tag:
  </div>
  <div>
    <% include partials/safebooru-tags-dropdown.ejs %>
  </div>
</div>
</div>
  </body>
</html>
