<html>
  <% include partials/head.ejs %>
  <% include partials/header.ejs %>
  <body>

    <form action="/search?_method=GET" method="POST">
    <input type="text" name="search" value="lelouch_lamperouge"/>
    <input type="submit" value="Search" />
  </form>
    <a href='/tags'>tags </a>
    <div> lelouch_lamperouge </div>
    <div> boa_hancock </div>

  <% include partials/safebooru-sidebar.ejs %>
  </body>
</html>
