<html>
  <% include partials/head.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/tags.css" />
  <body class="tags-ejs">
  <% include partials/header.ejs %>


  <% include partials/tags-sidebar.ejs %>
  <div class="content"> </div>



  </body>
</html>
