<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  </head>
  <% include partials/header.ejs %>
  <body>

    <% for (let tag of tags) { %>
      <div>
      <a class="tag-link" href="<%= `/tags/${tag.tag}` %>">
        <%= tag.tag %>
      </a>
      </div>
      <%} %>
    </form>
    <a href="/"> go back </a>

  </body>
</html>
