<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="submit">
    <% for (let tag of tags) { %>
      <div><%=  tag.tag %></div>
      <%} %>
    </form>
  </body>
</html>
