<html>
  <% include partials/head.ejs %>
  <% include partials/header.ejs %>
  <body>

  <% for (let value of tag) { %>
    <img width="300px" src="<%= value.image %>" />
  <% } %>
  

  </body>
</html>
