
<html>
  <% include partials/head.ejs %>
  <% include partials/header.ejs %>
  <body>
<div class='testme'>change</div>

  <div class="saved-all-container">

    <% for (let image of images) { %>
      <div class="saved-container">

          <form class="hover-container" action="<%= `/saved/${image.id}?_method=DELETE` %>" method="POST">

            <input class="delete button saved-image-hover" type="image" src="images/delete.png" value="delete"/>
            <a href="<%= `/saved/${image.id}` %>">
              <img class="edit button saved-image-hover" src="images/edit.png" />
            </a>
            <div class="comment">
              <%= image.comment %>
            </div>
          </form>

        <img class="saved-image" src="<%= image.image %>" />

      </div>
    <% } %>
</div>

  <script src='js/clickonsaved.js'> </script>
  </body>
</html>
