<html>
  <title> Single Image View </title>
  <% include partials/head.ejs %>
  <% include partials/header.ejs %>
  <body>


<form action="<%= `/saved/${image.id}?_method=PUT` %>" method="POST">
<div class="show">
  <div><img src="<%= image.image %>" /></div>
  <div class='text-container'>

    <div class="show-title">
      <label text="title">Title</label>
      <input type="text" name="title" value="<%= image.title %>" /></div>
    <div class="show-comment">
      <label> Comment </label>
      <input type="text" name="comment" value="<%= image.comment %>" />
    </div>
    <div>
      <input class="edit button" type="image" href="images/edit.png" value="fadsfsa" />
    </div>

  </div>
  </div>
</form>

</body>
