<form action="<%= `/search/saved/${image.id}?_method=PUT` %>" method="POST">
  <input type="text" name="comment" value="<%= image.comment %>" />
  <input type="submit" value="edit" />
  <img src="<%= image.image %>" />
</form>
<a href="/search/saved"> Go Back </a>
