<html>
  <title> Single Image View </title>
  <link rel="stylesheet" type="text/css" href="/css/show.css" />

  <% include partials/head.ejs %>
  <% include partials/header.ejs %>
  <body>


<form action="<%= `/saved/${image.id}?_method=PUT` %>" method="POST">
<div class="show">
  <div><a href="<%= image.image %>"><img src="<%= image.image %>" /></a></div>
  <div class='text-container'>

    <div class="show-comment">
      <label> Comment </label>
      <div><input class="comment" type="text" name="comment" value="<%= image.comment %>" /></div>
    </div>
    <div class="two-button">
      <div><input type="image" class="edit button"  src="../images/save2.png" alt="edit" /></div>
      <div><input type="image" class="delete button"  src="../images/delete.png" alt="delete" /></div>
    </div>

    </div>
  </div>
</form>

</body>
