<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Found <%= data.length %>
    <% for (let value of data) { %>

        <img width="500px" src="<%= `${webSite}${value.directory}/${value.image}`%>">

   <% } %>
  </body>
</html>
