*{
  background-color:red;
}
p{
  color: red;
  background-color:green;
}
.images-container{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin:0 auto;
}

.image-container{
  width:100%;
  overflow:hidden;

  opacity: 1;
  margin: 0 0 10px 0;
}
.save{
  display: none;
}
img{
  width:100%;
}
.tags{
  width: 100%
  overflow:hidden;
}
