a{
  text-decoration: none;
  color: black;
}
body{
  top: 75px;
  position:absolute;
  width: 100%;
}
.images-container{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 321px;
  max-width: 100%;
  border: 1px red solid;
}

.image-container{
  min-width: 150px;
  max-width: 600px;
  overflow:hidden;
  margin: auto 10px;
  opacity: 1;

  border: 1px green solid;
}
.save{
  display: none;
}
img{
  width:100%;
}
input[type="image"]{

  overflow:hidden;
  width: 100%;
}
.tags{
  width: 100%
  overflow:hidden;
}
.display-image{
}
